@tailwind base;
@tailwind components;
@tailwind utilities;

@import './shareThoughts/ShareThoughts.scss';
@import './inputs/SearchInput.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plus {
  width: 100%;
  height: 100%;
  &:before, &:after {
    position: absolute;
    content: ' ';
    height: 12px;
    width: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5030E5;
    border-radius: 16px;
  }
  &:after {
    transform: translate(-50%, -50%) rotate(90deg) ;
  }
}

.inactive-placement {
  path {
    fill: #787486;
  }
}

.active-placement {
  path {
    fill: #fff;
    stroke: #fff;
  }
}
