.share-thoughts {
    background-color: rgb(235, 231, 231);
    backdrop-filter: blur(20px);
    position: relative;
    padding: 16px;

    .share-thougths-bulb {
        position: absolute;
        top: 0;
        left: 50%;
        width: 66px;
        height: 66px;
        z-index: 1;
        transform: translate(-50%,-50%);
        background-color: rgb(235, 231, 231);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .shadow {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 2;
            width: 0;
            height: 0;
            border-radius: 100%;
            transform: translate(-50%, 33px);
            box-shadow: 0px 0px 22px 22px rgba(251,203,24,0.58);
            -webkit-box-shadow: 0px 0px 22px 22px rgba(251,203,24,0.58);
            -moz-box-shadow: 0px 0px 22px 22px rgba(251,203,24,0.58);
        }
    }
}